*,
*::after,
*::before {
  box-sizing: border-box;
}

.scheduler-container h2 {
  opacity: 0;
}

.calendar {
  width: 600px;
  height: 700px;
  border-radius: 3px;
  margin-right: 50px;
}

.calendar-nav {
  width: 100%;
  height: 80px;
  background-color: #faef9f;
  display: flex;
  justify-content: space-between;
}

.calendar-grid {
  background-color: white;
}

.prev-btn,
.next-btn {
  color: #582165;
  display: inline-block;
  margin: 25px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

.month-year {
  text-align: center;
  margin-top: 15px;
}

.this-year {
  text-align: center;
  color: #1a517c;
  font-weight: 700;
  font-size: 17px;
}

.this-month {
  font-size: 25px;
  margin: 0;
  color: #2e2fc5;
  font-weight: 700;
}

.calendar-grid,
.days-grid,
.date-grid {
  display: grid;
}
.days-grid,
.date-grid {
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.days-grid > div {
  color: #515a62;
  border: 1px solid gray;
  width: 100%;
  font-weight: 700;
  padding: 5px 0;
  display: inline-block;
  font-size: 15px;
  min-width: 0;
  text-align: center;
}
.date-grid > div {
  padding: 0 0 50px 0;
  display: inline-block;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  width: 100%;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.date-grid > div:hover {
  cursor: pointer;
}

.days-grid {
  border-top: 1px solid #d2d1d1;
}

.days-grid > div:nth-of-type(1) {
  color: #f34e4e;
}

.date-grid {
  width: 100%;
  height: 100%;
  border-top: 1px solid #d2d1d1;
  font-size: 14px;
  color: #302f2f;
}

.prev-month,
.next-month {
  color: #d5d3d2;
}

.date-grid div[class='dates']:nth-child(7n + 1) {
  color: #f7351e;
}

.date-grid div:nth-of-type(1) {
  color: #d5d3d2;
}

.prev-month:nth-child(1) {
  color: #d5d3d2;
}
.date-grid > .today {
  position: relative;
  font-weight: 900;
}

.today::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-right: 3px solid rgb(248, 48, 108);
  border-bottom: 3px solid rgb(248, 48, 108);
  border-radius: 27%;
  content: '';
}

.dates {
  color: #3e3d3d;
}
